### Exercise Variables - 1
#### Create a firstName variable and assign the value Mario to it.

In [102]:
firstname = 'Mario'

### Exercise Variables - 2
#### Create an age variable and assign the value 25 to it.

In [103]:
age = 25

### Exercise Variables - 3
#### Create a sentence variable and assign the value Hello, I'm Mario! to it without using double quotes.

In [104]:
sentence = """Hello, I'm Mario!"""

### Exercise Variebles - 4
#### Create an amount variable and assign a float value to it.

In [105]:
amount = 156.5

### Exercise Variebles - 5
#### Create a set of 3 variables and assign True as value of each one.

In [106]:
a, b, c = True, True, True

### Exercise Variebles - 6
#### Remove the illegal characters in the variable 1my-first2_Name = 'Mario'.

In [107]:
my_first_name = 'Mario'

### Exercise Variables - 7
#### Write single quotes or double quotes correctly

In [108]:
val = "Hi, my name is John Doe, 'python'"

### Exercise Variables - 8
#### Create 3 different variables and assign 3 different values. Write only one operation. Print them on terminal

### Exercise Variables - 9
#### Swap the value of the variables

In [109]:
b , a = a , b

In [110]:
print(a,b)

True True

### Exercise Variables - 10
#### Print the length of each variable.

In [8]:
hello = 'Hello!'
name = 'Jhon Doe'
age = '40'

In [13]:
print(f'{len(hello)} \n,{(len(name))}')
print(len(name), end='')
print(len(age))

6
,8
82

### Exercise Variables - 11
#### Modify the variables as suggested
a = 'hello'  #capitalize <br>
b = 'tom'  #uppercase <br>
c = 'LAURA'  #lowercase <br>
question = 'How are you' #change o in e <br>
age_question = 'How old are you?' #use the correct method to create a string for each word <br>
print(a, b, c, question, age_question) <br>

In [2]:
a = 'hello'
a = a.capitalize()
b = 'tom'
b = b.upper()
c = 'LAURA'
c = c.lower()
question = 'How are you'
question = question.replace('o', 'e')
age_question = 'How old are you?'
age_question = age_question.replace('How old are you?', 'How old are you ?')
print(a, b, c, question, age_question)
word_1 = age_question.split(' ')

Hello TOM laura Hew are yeu How old are you ?

In [7]:
word_1 = age_question.split(' ')
word_1[0]
word_1[1]
word_1[2]

'are'

### Exercise Variables - 12
#### Create two variables called name and age. Then create a variable called hello and print the name and the age. Use the formatted string literal.

In [114]:
name = 'Mike'
age = '30'
hello = "Hello, "+ name + "."+ " You are " + age
print(hello)

Hello, Mike. You are 30

In [ ]:
Exercise Methods - 1
With type command you can see the type of a variable in python eg: type(1) print each components type with this way you can see most significant data types in python

print(__("Hello World"))
print(__(True))
print(__(False))
print(__(33))
print(__(24.5))
print(__(4+1j))
print(__(4j))
print(__(["lion", "monkey", "dog","fish"]))
print(__(("lion", "monkey", "dog","fish")))
print(__({"name" : "John", "surname" : "Doe", "age":22}))
print(__({"lion", "monkey", "dog","fish"}))

In [1]:
def type_ident(name):
    print(type(name))

In [3]:
print(type("Hello World"))
print(type(True))
print(type(False))
print(type(33))
print(type(24.5))
print(type(4+1j))
print(type(4j))
print(type(["lion", "monkey", "dog","fish"]))
print(type(("lion", "monkey", "dog","fish")))
print(type({"name" : "John", "surname" : "Doe", "age":22}))
print(type({"lion", "monkey", "dog","fish"}))

<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

the number types can be converted to each other wit the int() float() complex() methods also float numbers can be rounded with the method round()

convert num1 to float and assign to itself
convert num2 to int and assign to itself
convert num3 to complex and assign to itself
use round method for num4 and assign to itself
use round method for num5 and assign to itself
print them all
print their types

In [12]:
num1 = float(1.3)
num2 = int(2.3)
num3 = complex(1j) 
num4 = round(1.4) 
num5 = round(1.5)

In [81]:
print(num1 ,'\n', type(num1))
print(num2 ,'\n', type(num2))
print(num3 ,'\n', type(num3))
print(num4 ,'\n', type(num4))
print(num5 ,'\n', type(num5))

1.3
 <class 'float'>
2
 <class 'int'>
1j
 <class 'complex'>
1
 <class 'int'>
1.5
 <class 'float'>

Exercise Methods - 3
to convert a number to string we can use str() function this is called casting

cast num1 to string and assign to num1_str
check the length of the string
get the third element of string (the one in the 3rd order)
get the 3-5 elements of string (both inclusive) by string slicing
!!!check if num2 in string (cast if necessary)
!!!check if num3 in string (cast if necessary)
concatenate 0 to the string from left and assign to string_with_0
get the characters of string_with_0 from start to position 4 (end point exclusive)
get the characters of string_with_0 from position 5 until the end
use negative indexing to reach the "567" string_with_0

In [273]:
num1 = 1122334455666
# cast num1 to string and assign to num1_str
num1_str = str(num1)
# check the length of the string
print(len(num1_str))
# get the third element of string (the one in the 3rd order)
print(num1_str[2])
# get the 3-5 elements of string (both inclusive) by string slicing
print(num1_str[3:5+1])
#!!!check if num2 in string (cast if necessary)
num2 = str(2.3)
print(type(num2))
print(num2 in num1_str)
# !!!check if num3 in string (cast if necessary)
num3 = str(complex(1j)) 
print(type(num3))
print(num3 in num1_str)
#concatenate 0 to the string from left and assign to string_with_0
string_with_0 = '0' + num1_str
# get the characters of string_with_0 from start to position 4 (end point exclusive)
print(string_with_0[4:-1])
# get the characters of string_with_0 from position 5 until the end
print(string_with_0[5:])
# use negative indexing to reach the "567" string_with_0
print(string_with_0[-9:-6])

13
2
233
<class 'str'>
False
<class 'str'>
False
01122334455666
233445566
334455666
334

In [280]:
num1 = "01122334455666"
x=num1[8:5:-1]
new_str_reverse = ''.join(sorted(x))
print(new_str_reverse)

344

In [277]:
# print if num1 or num2 is greater num1 = 335 num2 = 66
num1 , num2 = 355 , 66
if num1 > num2:
    print('num1 is greater')
else:
    print('num2 is greater')

num1 is greater

In [ ]:
check if number1 is greater than number 2 and print number1 is greater than number2 then check and if number 2 is greater than number 1 and print number2 is greater than number1 finally at the end if both conditions incorrect print number2 equals to number1

number1 = 66 number2 = 66

In [289]:
number1, number2 = 66 , 66
if number1 > number2:
    print('number1 is greater than number2')
elif number1 < number1:
    print('number2 is greater than number1')
else:
    print('number2 equals to number1')

number2 equals to number1

In [335]:
# Compare those 2 numbers and write X greater than Y But be sure you are making the check for all the conditions
import random

X = random.randint(1,100)
Y = random.randint(1,100)
if X > Y:
    print('X is greater than Y')
elif X < Y:
    print('Y is greater than X')
else:
    print('X equals to Y')
# Compare the numbers to eachother

X is greater than Y

In [346]:
# Compare those 2 numbers' absolute values and write X's absolute value greater than Y's absolute value Use abs function to do that
# eg.
# abs(-5) -> 5
# abs function makes all numbers positive

import random

number1 = random.randint(-100,100)
number2 = random.randint(-100,100)

if abs(number1) > abs(number2):
    print('number1 is greater')
else:
    print('number2 is greater')

number1 is greater

In [2]:
# Iterators - While Loop
# Create ` * **
i = 1 
while i<6:
    print("*"*i)
    i = i+ 1

*
**
***
****
*****

In [94]:
"""Iterators - For Loop
Create

*
***
*****
this shape with print, for loop, if and continue statements"""


for n in range(1,10,2):
    print("*" * n)
    
    if n < 4:
        continue
    else:
        break

*
***
*****

In [97]:
""" Iterators - For Loop
Check if it is time for coffee break if it is just break
To do that lets iterate through given list don't change the COFFEE BREAK statement.
just find another way to do it """

todo = ["exercise1", "exercise2", "exercise3","coffee break" ,"exercise4","exercise5","exercise6"]
for x in todo:
    if x.upper() == "COFFEE BREAK":
        print(x)
        break

coffee break

In [127]:
""" Iterators - For Loop
Iterate each elements of list1,tuple1,set1 and print them out
For the dict1 iterate all elements but only print the ones who are living on land in the form of x lives in y """

list1 = ["lion", "monkey", "dog","fish"]
tuple1 = ("lion", "monkey", "dog","fish")
set1 = {"lion", "monkey", "dog","fish"}
dict1 = {"lion":"land", "monkey":"land", "dog":"land","fish":"water"}


print("---- printng item from the list ---- \n")
for item in list1:
    print(item)  
print()
print("---- printng items from the tuple ---- \n")
for item in tuple1:
    print(item)
print()
print("---- printng items from the set ---- \n")
for item in set1:
    print(item)
    
print()
print("---- printng items from the dict1 ---- \n")
for key, value in dict1.items():
        if value == 'land':
            print(key)

---- printng item from the list ----

lion
monkey
dog
fish

---- printng items from the tuple ----

lion
monkey
dog
fish

---- printng items from the set ----

fish
lion
dog
monkey

---- printng items from the dict1 ----

lion
monkey
dog

In [186]:
"""
Remember list,set,dictionary are mutable and tuple is immutable list,tuple elements can be reached by index
for dictionary it is not an option to reach by index the element key has to be known to reach
and for set the items cannot be reached directly but it is possible to iterate.

print the lengths of list1,tuple1,set1,dict1
print the first element of list1 and tuple1
print the value of lion key of dict1
change the 2nd position element of list1 to "rabbit"
try to change the 2nd position element of the tuple to "rabbit" and explain what happened.
add "monkey" to list1
remove "rabbit" from list1
in dict1 the number of feet is written as value to each animal the fixh has wrong value just fix it.

"""
list1 = ["lion", "monkey", "dog","fish"]
tuple1 = ("lion", "monkey", "dog","fish")
set1 = {"lion", "monkey", "dog","fish"}
dict1 = {"lion":4, "monkey":2, "dog":4,"fish":2}

# print the lengths of list1,tuple1,set1,dict1
print( f'''The length of lsit1 is {len(list1)}.
The length of tuple1 is {len(tuple1)}.
The length of set1 is {len(set1)}.
The length of dict1 is {len(dict1)}.''')
print()
# print the first element of list1 and tuple1
print(f'first element of list1 is {list1[0]}, first elemnet of tuple1 is {tuple1[0]}')
print()
# print the value of lion key of dict1
print(f"lion key value is {dict1['lion']}")
print()
# change the 2nd position element of list1 to "rabbit"
print(list1)
list1[1] = 'rabbit'
# after adding 'rabbit'
print(list1)
print('\n ---try to change the 2nd position element of the tuple to "rabbit" and explain what happened.--- \n')
try:
    tuple[1] = 'rabbit'
except TypeError:
    print(" 'object does not support item assignment', because the tuple is immuatable.  \n")
    
# add "monkey" to list1
print(list1) # before adding the monkey 
list1.append('monkey')
print(list1, '\n') # after adding the monkey 
# remove "rabbit" from list1
list1.remove('rabbit')
print(list1, '\n')
dict1['fish'] = 0
print(dict1)

The length of lsit1 is 4.
The length of tuple1 is 4.
The length of set1 is 4.
The length of dict1 is 4.

first element of list1 is lion, first elemnet of tuple1 is lion

lion key value is 4

['lion', 'monkey', 'dog', 'fish']
['lion', 'rabbit', 'dog', 'fish']

 ---try to change the 2nd position element of the tuple to "rabbit" and explain what happened.---

 'object does not support item assignment', because the tuple is immuatable.

['lion', 'rabbit', 'dog', 'fish']
['lion', 'rabbit', 'dog', 'fish', 'monkey']

['lion', 'dog', 'fish', 'monkey']

{'lion': 4, 'monkey': 2, 'dog': 4, 'fish': 0}

In [3]:
""" Exercise 1 - Functions
To create functions in python we start with def word and after it the name of function comes with without parameters
example is here

def hello():
    print("hello")
Now you create a function named goodbye without parameters which prints good bye

"""

def goodbye():
    print('goodbye')
    
goodbye()

goodbye

In [11]:
""" Exercise 2 - Functions
Inside the parenthesis variables can be used those variables as known as parameters of the function provides control inside the function example is here

def hello(name):
    print(f"hello {name}")
Now you create a function named goodbye with a parameter name and say "Good bye Adam" """

def goodbye(name) -> str:
    print(f"Goodbye {name}.")
    
goodbye('Adam')

Goodbye Adam.

In [16]:
""" Exercise 3 - Functions
Let's see what is your user name on your computer
to do that we are going to use os module which is a built in module in python
and has many built in functions in it

to be able to use os functions
import os then call getlogin method of the module
then assign the output to user variable and print the user """

import os
dir(os)
user = os.getlogin()
print(user)

Moni

In [26]:
""" Exercise 4 - Functions
Now create a function for John Doe and his family that greets every one in the family.
Since it will usually John Doe the name and surname parameter must be defaulted
and when someone else comes it has to greet the new comer with name surname parameters which were overwritten. Make it possible.
The function have to print "Hello John Doe" where John and Doe is parametric
Greet each our John first then the people in the list with for loop and the function
What you have to use

for loop
function
string operation
list index
Output format

Hello John Doe!
Hello Tristram Mcbride!
Hello Baldwin Preston!
Hello Wally Collins! """

def greet(name) -> list:
    n = 0
    for i in name:
        if n == 0:
            print(f'Hello John Doe! \nHello {i}!')
            n = +1
        else:
             print(f'Hello {i}!')
        
greet(['Tristram Mcbride', 'Baldwin Preston', 'Wally Collins'])

Hello John Doe!
Hello Tristram Mcbride!
Hello Baldwin Preston!
Hello Wally Collins!

In [114]:
""" Exercise 5 - Functions
Import random function
Create a function random_list_summer creates n elemented list with min value = -100 max value = 100 it 
has to print the list first and sum all the elements of it default element number is 15
Don't forget to call the function
for some features and functions you might have to search on the internet do it don't lose your courage """
import random

def random_list_summer(n) -> int: # please write the number of elements you want ( default is 15).
    n = random.sample(range(-100,100), n)
    print(n)
    sum_all_elements = 0
    for i in n:
        sum_all_elements +=i
    print( f' Sum of all elemnets is {sum_all_elements}.')
random_list_summer(15)

[59, 3, -99, -32, -100, -55, 86, -69, -94, -89, -34, 20, -70, 64, 23]
 Sum of all elemnets is -387.

In [131]:
""" Exercise 6 - Functions Implement Fibonacci sequence as recursive function and print first 5 elements."""

def fibo_seq(n):
    if n <=1:
        return 1
    elif n == 2:
        return 1
    else:
        return fibo_seq(n-1)+fibo_seq(n-2) # recursive as the fucntion calling itself in the function.
for i in range(1,10):
    if i == 6:
        break
    else:
        print(f'{i} : {fibo_seq(i)}')

1 : 1
2 : 1
3 : 2
4 : 3
5 : 5